:root{ 
     --color-grey-50: #f8f8f9;
    --color-grey-100: #f4f4f4;
    --color-grey-200: #eaeaea;
    --color-grey-300: #d1d1d6;
    --color-grey-400: #a2a2ad;
    --color-grey-500: #52525d;
    --color-grey-600: #32323d;
    --color-grey-700: #23232d;
    --color-grey-800: #191922;
    --color-grey-900: #121216;
    --color-accent-main: #a238ff;
    --color-accent-strong: #9333e8;
    --color-accent-weak: #c17aff;
    --color-intent-error: #df3c3c;
    --transparent-bg: rgba(0,0,0,.3);
    --color-text-main: #fff;
    --color-text-secondary: #a9a6aa;
    --color-text-disabled: #555257;
    --color-text-inverse: #000;
    --color-bg-main: #0f0d13;
    --color-bg-secondary: #1b191f;
    --color-bg-tertiary: #29282d;
    --color-bg-tertiary-hover: #3a393d;
    --color-bg-brand-partners: rgba(243,241,246,.9);
    --color-text-brand-partners: var(--color-grey-900);
    --color-bg-brand-premium: var(--color-accent-main);
    --color-text-brand-premium: var(--color-white);
    --color-bg-secondary-brand-premium: rgba(33,108,255,.3);
    --color-bg-brand-hifi: #cca555 100%;
    --color-text-brand-hifi: var(--color-black);
    --color-bg-brand-family: #ff673d;
    --color-text-brand-family: var(--color-white);
    --color-bg-secondary-brand-family: rgba(255,112,40,.3);
    --color-bg-brand-free: #000;
    --color-text-brand-free: var(--color-white);
    --color-text-brand-trio: var(--color-white);
    --color-bg-brand-trio: #2f7c90;
    --color-text-brand-duo: var(--color-text-brand-trio);
    --color-bg-brand-duo: var(--color-bg-brand-trio);
    --color-bg-brand-yellow: #fcff60;
}



[data-theme=dark] {
    --bg-gradient: linear-gradient(126.05deg,rgba(241,42,42,.9) 25.95%,#bf1ceb 44.46%,#06ad57 65.35%,rgba(6,173,87,.6) 76.7%);}